@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@300&display=swap');
body{
  background-color: rgb(50, 9, 88);
  font-family: 'Roboto Mono', monospace;
}

.todo_input{
  border: none;
  border-radius: 4px;

}
.todo_input:hover{
  border: none;
  border-color: green;
}
.todo_button{
  background-color: white;
  border: none;
  text-transform: uppercase;
}
.todo_button:hover{
  background-color: rgb(180, 180, 8);
  border-color: black;
}
.showlist{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;

}
.add_icons{
margin-left: -25px;
}
.showlist{
  border-radius: 15px;
  text-shadow: 2px 2px white;
  text-transform: capitalize;
}
.show_items_list :hover{
  background-color:rgba(0, 0, 0, 0.74);
  color: white;
  
  border: 1px;
  border-color: green;
}
.showlist h3{
  text-transform: capitalize;
  font-family: 'Yaldevi', sans-serif;
}